@import "../vars";
@import "../mixins";

.top-line{
    background-color: #ffffff;
    border-bottom: 1px solid $silver;
    padding: 50px 0;
    padding-bottom: 49px;
    @include media-max($lg) {
        padding-top: 30px;
        padding-bottom: 29px;
    }
    @include media-max($sm) {
        padding: 6px 0;
        border-bottom: none;
    }
    .top-line__content{
        display: flex;
        align-items: center;
        @include media-max($sm) {
            justify-content: center;
        }
    }
}

.burger{
    width: 30px;
    height: 24px;
    display: none;
    @include media-max($sm) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: auto;
        position: relative;
    }
    span{
        width: 30px;
        height: 4px;
        background-color: $second;
        border-radius: 4px;
        transition: all .25s ease;
    }
    &.active{
        
        span{
            position: absolute;
            top: 10px;
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform:  translateX(100%);
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}

.logo{
    margin-right: auto;
    @include media-max($sm) {
        width: 48px;
        img{
            width: 100%;
            height: auto;
        }
    }
    img{
        display: block;
    }
}

.nav-top{
    @include media-max($sm) {
        display: none;
    }
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        margin-left: -10px;
        margin-right: -10px;
        li{
            padding-left: 10px;
            padding-right: 10px;
            a{
                display: block;
                padding: 0.393em 20px;
                line-height: 1;
                text-decoration: none;
                color: $dark;
                font-weight: 600;
                border-radius: 30px;
                font-size: 14px;
                &:hover{
                    text-decoration: underline;
                }
                &.active{
                    background-color: $accent;
                    color: #ffffff;
                    &:hover{
                        text-decoration: none;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

.user{
    @include media-max($sm) {
        display: none;
    }
    .name{
        display: none;
    }
    .user__ava{
        display: block;
        width: 40px;
        height: 40px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 2em;
        overflow: hidden;
        transition: all .25s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
}