.shell
    .content
        h1.title__block 
            | Improving Education in 2020
            span.icon 🗳️
        .content__left
            .post__img
                img(src="img/post.jpg" alt="Improving Education in 2020")
            .tabs__block
                .tabs__control
                    ul
                        li
                            a(href="#tab1").active About
                        li
                            a(href="#tab2") Updates
                        li
                            a(href="#tab3") Supporters
                .tabs__content
                    .tabs__content-item.active#tab1
                        h3 Background
                        p 
                            | In 2016 state representative elections, 42% of all candidates faced no major party opponents. Filing to even run for local office is difficult. For example, in New York State there are over 100 pages in the election law guide and an additional 65 page 2018 update guide that pertain to the rules for filing to run for local office. Campaign fundraising compliance is also challenging.
                        h3 Platform

                        .tags__block
                            h4 The issues
                            .tags__group
                                a(href="#").btn.btn-second Civil liberties
                                a(href="#").btn.btn-second Campaign finance
                                a(href="#").btn.btn-second Criminal justic reform
                                a(href="#").btn.btn-second Crime
                                a(href="#").btn.btn-second Drugs
                                a(href="#").btn.btn-second Economy
                        .tags__block
                            h4 organizations i support
                            .tags__group
                                a(href="#").btn.btn-second ACLU
                                a(href="#").btn.btn-second Action Institute for the Study of Religion and Liberty
                                a(href="#").btn.btn-second American Foundation for Suicide Prevention

                    .tabs__content-item#tab2
                        h3 Updates
                    .tabs__content-item#tab3
                        h3 Supporters

            
        .content__right
            .donate___block
                .applicant
                    h4 Tyrone Fairfield
                    span 
                        | 2020 Board of Education, Southwest City Schools District, OH
                .election
                    h5 Election Day:
                    b Nov 2nd, 2020
                    p 26 days to go
                .donate__description
                    h3 $25,324.56
                    span from 25 donations
                    .danote__line-block
                        .donate__line
                            span(style="width: 75%")
                        .donate__line-title
                            p Goal: $40,000
                            b 10 days to go
                    a(href="#").btn.btn-fill.w-100 Donate

            .upcoming-events__block
                .upcoming-events__title
                    h4 Upcoming Events
                    a(href="#") View all
                .upcoming-events__item
                    .date 
                        span MON
                        p 24
                    .text
                        h5 Main Street Meet and Greet
                        p.text-icon.time 
                            | 10:00 AM - 11:00 AM
                        p.text-icon.marker
                            | 125 Main St., Cherrytown, OH
