
footer 
    .shell
        .footer__content
            .copyrait ©2019
            nav.nav-footer
                ul
                    li
                        a(href="#") Home
                    li
                        a(href="#") Explore
                    li
                        a(href="#") Privacy Policy
                    li
                        a(href="#") Term & Conditions
            nav.soc-icons
                ul
                    li
                        a(href="#")
                            img(src="img/icons/fb.svg", width="28", alt="facebook")
                    li
                        a(href="#")
                            img(src="img/icons/twiter.svg", width="28", alt="twiter")