.top-line
    .shell
        .top-line__content
            .burger
                span
                span
                span
            .logo
                a(href="#")
                    img(src="img/logo.svg" width="80")
            nav.nav-top
                ul
                    li
                        a(href="#") Home
                    li
                        a(href="#").active Explore
                    li
                        a(href="#") My Campaigns
            .user
                a(href="#" class="user__ava" style="background-image: url('img/user_ava.jpg')")
                .name Ivan Ivanov.