
- var title = "Index page"

include common/head.pug
body
    .site
        .site-top
            include common/header.pug
            section.section__content
                include common/content.pug
        .site-bottom
            include common/footer.pug
        .mobile-nav
            .shell
                .mobile-nav__content

include include/scripts.pug
