
- var title = "Index page"

include common/head.pug
body
    .site
        .site-top
            include common/header.pug
            section.section__content
                include common/content.pug
        .site-bottom
            | site-bottom 2
            include common/footer.pug

include include/scripts.pug
