
- var title = "Index page"

include common/head.pug
body
    .site
        .site-top
            | site-top
        .site-bottom
            | site-bottom 2
            include common/footer.pug

include include/scripts.pug
