$font-size: 16px;
$text: #4C4C4C;
$font-family: 'Poppins', sans-serif;

$dark: #000;
$accent: #FF4778;
$second: #6F36BC;
$silver: #ECECEC;
$bg-section: #FAFAFA;
$bg__descript-line: #F0F0F0;
$fill__descript-line: #2ACBA5;

$columns: 100% / 12;

$lg: 1200px;
$md: 992px;
$sm: 767px;
$xs: 576px;
