@import "libs";
@import "vars";
@import "mixins";
@import "fonts";


html,
body{
    height: 100%;
}

*{
    box-sizing: border-box;
    &::before,
    &::after{
        box-sizing: border-box;
    }
}

body{
    font-size: $font-size;
    line-height: 1.4;
    color: $text;
    font-family: $font-family;
    overflow-x: hidden;
    min-width: 320px;

    input,
    textarea,
    button{
        outline: none;

        &:focus{
            outline: none;
        }
    }

}

.site{
    display: flex;
	flex-direction: column;
    min-height: 100%;
    .site-top{
        flex: 1 0 auto;
    }
    .site-bottom{
        flex: 0 0 auto;
    }
}

.shell{
    max-width: 1134px;
    padding-left: 17px;
    padding-right: 17px;
    margin-left: auto;
    margin-right: auto;
}


@import "components/header.scss";